{% extends "base.html" %}
{% load static %}

{% block title %}Inter-Centros - Gestión Deportiva{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}

{% block content %}
<div class="main-container py-4">
    <div class="container">

        <!-- Encabezado -->
        <div class="modulo-header text-center mb-5">
            <i class="fas fa-building fa-3x mb-3"></i>
            <h2 class="fw-bold text-white">Torneos Inter-Centros</h2>
            <p class="text-white-50">Mantente informado sobre toda la información relacionada con la conformación de equipos <br>que representaran al SENA Centro MInero en los torneos Inter-centros. </p>
        </div>

        <!-- Tarjetas de acciones -->
        <div class="row g-4 mb-5">
            <div class="col-md-4">
                <div class="sport-card">
                    <i class="fas fa-user-plus fa-2x mb-3 text-warning"></i>
                    <h5>INSCRIBIR APRENDIZ</h5>
                    <p>Registrate para tener la oportunidad de representar al Centro Minero en los torneos inter-centros.</p>
                    <button class="btn btn-dark btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalCrearTorneo">
                        <i class="fas fa-plus me-3"></i>INSCRIBIR
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sport-card">
                    <i class="fas fa-list-alt fa-2x mb-3 text-warning"></i>
                    <h5>ENTRENAMIENTOS</h5>
                    <p>Consulta la hora y el lugar de los entrenamientos segun tu disciplina.</p>
                    <button class="btn btn-dark btn-sm mt-2 btn-accion-centro" data-seccion="torneos">
                        <i class="fas fa-eye me-3"></i>CONSULTAR
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sport-card">
                    <i class="fas fa-chart-bar fa-2x mb-3 text-warning"></i>
                    <h5>NOVEDADES</h5>
                    <p>Mantente enterado sobre los aprendices que quedaron seleccionados para representr al Centro Mineroen.</p>
                    <button class="btn btn-dark btn-sm mt-2 btn-accion-centro" data-seccion="resultados">
                        <i class="fas fa-poll me-3"></i>VER
                    </button>
                </div>
            </div>
        </div>

        <!-- Panel dinámico -->
        
        <!-- Tabla de Torneos -->

    </div>
</div>

<!-- MODAL CREAR TORNEO -->
<div class="modal fade" id="modalCrearTorneo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal">
            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold">
                    <i class="fas fa-plus me-2"></i>Inscribir Aprendiz
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nombres</label>
                        <input type="text" name="nombre" class="form-control custom-input" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Apellidos </label>
                        <input type="text" name="apellido" class="form-control custom-input" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Ficha</label>
                        <input type="number" name="ficha" class="form-control custom-input" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Programa de Formación </label>
                        <select name="programa" class="form-select custom-input"  required>
                            <option value="">Seleccionar...</option>
                            <option>Análisis y Desarrollo de Software</option>
                            <option>Química Aplicada a la Industria</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Disciplina</label>
                        <select name="disciplina" class="form-select custom-input" required>
                            <option value="">Seleccionar</option>
                            <option value="Fútbol">Fútbol</option>
                            <option value="Futsal">Futsal</option>
                            <option value="Baloncesto">Baloncesto</option>
                            <option value="Voleibol">Voleibol</option>
                            <option value="Tenis de Mesa">Tenis de Mesa</option>
                            <option value="Ajedrez">Ajedrez</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 py-2">
                        <i class="fas fa-check me-2"></i>Registrar Aprendiz
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/inicio.js' %}"></script>
{% endblock %}